mixin add-photo
  +b.add-photo
    +e.image-wrap
      picture
        source(
          media="(min-width: 1020px)",
          srcset= "img/photos/photo-7-desktop.jpg 1x, img/photos/photo-7-desktop@2x.jpg 2x"
        )
        source(
          media="(min-width: 700px)",
          srcset= "img/photos/photo-7-tablet.jpg 1x, img/photos/photo-7-tablet@2x.jpg 2x"
        )
        img(
          src= "img/photos/photo-7-mobile.jpg",
          srcset= "img/photos/photo-7-mobile@2x.jpg 2x",
          alt= "edit photo",
          class="add-photo__image"
        )

    +e.wrap-tools
      +e.tools
        +e.INPUT.input--crop(
          type = "radio",
          name = "tool",
          id = "tool-1",
          checked = "checked"
        )
        +e.LABEL.label(for = "tool-1") Crop
          +e.svg-wrap
            +e.SVG.tool-svg--crop.svg-icon-editor-crop
              use(xlink:href = "img/svg-sprite.svg#icon-editor-crop")
          +e.scale--1
            +e.toggle


        +e.INPUT.input--fill(
          type = "radio",
          name = "tool",
          id = "tool-2"
        )
        +e.LABEL.label(for = "tool-2") Fill
          +e.svg-wrap
            +e.SVG.tool-svg--fill.svg-icon-editor-fill
              use(xlink:href = "img/svg-sprite.svg#icon-editor-fill")
          +e.scale--2
            +e.toggle


        +e.INPUT.input--contrast(
          type = "radio",
          name = "tool",
          id = "tool-3"
        )
        +e.LABEL.label(for = "tool-3") Contrast
          +e.svg-wrap
            +e.SVG.tool-svg--contrast.svg-icon-editor-contrast
              use(xlink:href = "img/svg-sprite.svg#icon-editor-contrast")
          +e.scale--3
            +e.toggle


      +e.btns-wrap
        +e.BUTTON.btn.btn--submit(type = "submit") Запостить
        +e.BUTTON.btn.btn--reset(type = "reset") Отмена
