mixin photo(item)

  if item.best
    +b.ARTICLE.photo--best
      +e.identifier-wrap
        +e.SPAN.identifier= item.imgAlt
      +e.A.photo-link(
        href = item.link,
        title = item.imgAlt
      )
        picture
          source(
            media="(min-width: 1020px)",
            srcset= item.imgDesktop + " 1x, " + item.imgDesktop2x + " 2x"
          )
          source(
            media="(min-width: 700px)",
            srcset= item.imgTablet + " 1x, " + item.imgTablet2x + " 2x"
          )
          img(
            src= item.imgMobile,
            srcset= item.imgMobile2x + " 2x",
            alt= item.imgAlt,
            class="photo__img",
            class="photo__img--best"
          )
      +e.inner--best
        +e.HEADER.header
          +e.CITE.name= item.name
          +e.TIME.time(datetime=item.datatime)!= "(" + item.time + ")"

        +e.P.comment!= item.comment

        +e.FOOTER.footer
          +e.A.like-link(href="#" title="Like") Like
            +e.SVG.like-svg.svg-icon-heart
              use(xlink:href="img/svg-sprite.svg#icon-heart")
          +e.SPAN.like!= "Нравится:&nbsp;" + item.like


  else
    +b.ARTICLE.photo
      +e.A.photo-link(
        href = item.link,
        title = item.imgAlt
      )
        picture
          source(
            media="(min-width: 1020px)",
            srcset= item.imgDesktop + " 1x, " + item.imgDesktop2x + " 2x"
          )
          source(
            media="(min-width: 700px)",
            srcset= item.imgTablet + " 1x, " + item.imgTablet2x + " 2x"
          )
          img(
            src= item.imgMobile,
            srcset= item.imgMobile2x + " 2x",
            alt= item.imgAlt,
            class="photo__img"
          )

      +e.inner
        +e.HEADER.header
          +e.CITE.name= item.name
          +e.TIME.time(datetime=item.datatime)!= "(" + item.time + ")"

        +e.P.comment= item.comment

        +e.FOOTER.footer
          +e.A.like-link(href="#" title="Like") Like
            +e.SVG.like-svg.svg-icon-heart
              use(xlink:href="img/svg-sprite.svg#icon-heart")
          +e.SPAN.like!= "Нравится:&nbsp;" + item.like
