extends ../_layouts/base

block variables
  - var isPopupFail = true
  - var isPopupSuccess = true
  - var selected = "form.html"

block append style
  style.
    .radio__input[id="radio-OS-1"]:checked ~ .radio__label[for="radio-OS-1"]::before,
    .radio__input[id="radio-OS-2"]:checked ~ .radio__label[for="radio-OS-2"]::before,
    .radio__input[id="radio-OS-3"]:checked ~ .radio__label[for="radio-OS-3"]::before {
      background-color: #d22856;
    }

block content

  +b.heading
    +e.wrap
      +e.H2.title Конкурс на&nbsp;самое безбашеное путешествие с&nbsp;Пинк

  .container
    +b.description
        +e.H2.title Поделитесь своей историей и&nbsp;получите шанс выиграть ценный приз&nbsp;&mdash; 1000 миль на&nbsp;вашу бонусную карту!

    +b.FORM.form(
      action="/echo",
      method="post"
    )
      +e.FIELDSET.fieldset--name
        each item in site.data.inputs.nameInputs
          +form-group(item)

      +e.FIELDSET.fieldset--os.form__fieldset--gray
        +e.LEGEND.title С&nbsp;каким приложением путешествовали?
        each item in site.data.inputs.osRadios
          +radio(item)


      +e.FIELDSET.fieldset--contacts
        +e.LEGEND.title--contacts Контантная информация
        each item in site.data.inputs.contactInputs
          +form-group(item)

      +e.FIELDSET.fieldset--achievements.form__fieldset--gray
        +e.LEGEND.title Ваши безбашенные достижения в&nbsp;путешествии
        each item in site.data.inputs.achievementsCheckboxes
          +checkbox(item)



      +e.FIELDSET.fieldset--textarea
        +e.LEGEND.title(for="user-racall") Опишите свои эмоции
        +e.TEXTAREA.textarea(
          placeholder="Можно прям в красках, не стесняясь в выражениях",
          name="user-recall",
          id="user-recall"
        )

      +e.btn-wrap
        +e.btn
          +b.BUTTON.btn--form(type = "submit") Отправить форму

        +e.SPAN.footnote
          +e.SPAN.color *
          |— обязательные поля
