extends ../_layouts/base

block variables
  - var isPopupFail = true
  - var isPopupSuccess = true
  - var selected = "form.html"

block content

  +b.heading
    +e.wrap
      +e.H2.title Конкурс на&nbsp;самое безбашенное путешествие с&nbsp;Пинк

  .container
    +b.description
        +e.H2.title Поделитесь своей историей и&nbsp;получите шанс выиграть ценный приз&nbsp;&mdash; 1000 миль на вашу бонусную карту!
          +e.SPAN.addition  Пожалуйста, заполните форму ниже:

    +b.FORM.form(
      action="/echo",
      method="post"
    )
      +e.fieldset--name
        each item in site.data.inputs.nameInputs
          +e.DIV.item--name
            +form-group(item)

      +e.fieldset--os.form__fieldset--gray
        +e.H2.title--os С&nbsp;каким приложением путешествовали?
        each item in site.data.inputs.osRadios
          +e.DIV.item--os
            +radio(item)


      +e.fieldset--contacts
        +e.H2.title--contacts Контантная информация
        each item in site.data.inputs.contactInputs
          +e.DIV.item--contacts
            +form-group(item,"revers")

      +e.fieldset--achievements.form__fieldset--gray
        +e.H2.title--achievements Ваши безбашенные достижения в&nbsp;путешествии
        each item in site.data.inputs.achievementsCheckboxes
          +e.DIV.item--achievements
            +checkbox(item)



      +e.fieldset--textarea
        +e.H2.title--textarea Опишите свои эмоции
        +e.TEXTAREA.textarea(
          placeholder="Можно прям в красках, не стесняясь в выражениях",
          name="user-recall",
          id="user-recall"
        )

      +e.btn-wrap
        +e.BUTTON.btn.btn--form(type = "submit") Отправить форму

        +e.SPAN.footnote
          +e.SPAN.color *
          |&nbsp;— обязательные поля
